.filter {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.filter__input {
  padding: 10px;
  width: 300px;
}

.filter__button {
  padding: 10px;
  color: black;
  border: none;
  background: #7fefbd;
  cursor: pointer;
}

.video__thumbnail {
  display: block;
  max-width: 150px;
  max-height: 95px;
  width: auto;
  height: auto;
}

.videos {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.video {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.video a {
  padding: 0;
  margin: 0;
  padding-left: 20px;
  font-size: 14px;
  font-weight: normal;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
}

.channel {
  border: 1px solid #999;
  padding: 20px;
}

.channel__banner {
  width: 100%;
}

.channel__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.channel h3 {
  word-wrap: break-word;
}

.tag {
  font-size: 14px;
  margin-right: 4px;
  text-decoration: underline;
  color: blue;
}

a {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.header {
  background: white;
  height: 50px;
  box-shadow: 2px 2px 5px #999;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1024px;
  height: 100%;
  margin: 0 auto;
  background: white;
}

.header__navigation a {
  margin-right: 20px;
}
