.sideNavigation {
  background: var(--dark-blue);
  height: 100vh;
  width: 330px;
  flex-grow: 0;
  flex-shrink: 0;
  color: white;
}

.sideNavigation__logo {
  font-weight: normal;
  padding-left: 20px;
}

.sideNavigation__logo svg {
  margin-right: 10px;
}

.sideNavigation__links svg {
  margin-right: 20px;
}

.sideNavigation__links a {
  display: block;
  font-size: 24px;
  color: white;
  margin-bottom: 0px;
  text-decoration: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
}

.sideNavigation__links a:hover {
  background: var(--darkest-blue);
}

.sideNavigation__divider {
  width: 60%;
  background: var(--darkest-blue);
  height: 3px;
  margin: 20px auto;
}

.sideNavigation__credits {
  margin-top: 50px;
  margin-left: 40px;
}
