.watchPanel {
  position: fixed;
  right: 0px;
  top: 0px;
  background: white;
  width: 500px;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: -2px 0px 3px #666;
}

.watchPanel__videoAuthor {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.watchPanel__videoAuthor img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.watchPanel__videoAuthor a {
  font-size: 18px;
  text-decoration: none;
}

.watchPanel__closeButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 32px;
}

.watchPanel__closeButton:hover {
  color: #666;
}
